<h1>About us</h1>
<img src="http://de63f2mftrd23.cloudfront.net/image/zoom/127619.front.jpg" width=25% height=25% class="img-circle" alt="Responsive image">
<p>
<table class="table table-hover">
<tr>
<th>Name</th>
<th>Twitter</td>
<th>Phone</td>
</tr>
<tr>
<td>Homer Simpson</td>
<td><%= link_to "@simpson_sr", "#", target: "_blank" %></td>
<td>212.555.1212</td>
</tr>
<tr>
<td>Marge Simpson</td>
<td><%= link_to "@simpson_mrs", "#", target: "_blank" %></td>
<td>212.555.1313</td>
</tr>
<tr>
<td>Bart Simpson</td>
<td><%= link_to "@simpson_jr", "#", target: "_blank" %></td>
<td>212.555.1414</td>
</tr>
<tr>
<td>Lisa Simpson</td>
<td><%= link_to "@simpson_ms", "#", target: "_blank" %></td>
<td>212.555.1515</td>
</tr>
<tr>
<td>Maggie Simpson</td>
<td><%= link_to "@simpson_miss", "#", target: "_blank" %></td>
<td>212.555.1616</td>
</tr>
</table>
</p>
<p>We are working on our One Month Rails Pinteresting app!</p>